@import url("style.css");

.forgot_password {
  background: #86acc5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot_password_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  margin-bottom: 79px;
}

.forgot_password form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgot_password label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin-bottom: 7px;
  margin-left: 35px;
  align-self: flex-start;
}

.forgot_password input {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 82px;
  border: none;
  /* width: 383px; */
  width: 550px;
  height: 88px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  padding-left: 35px;
}

.forgot_password input[type="submit"] {
  width: 222px;
  height: 68px;
  background: linear-gradient(265.84deg,
      #210440 -2.69%,
      rgba(213, 44, 255, 0.853906) 42.77%,
      rgba(72, 134, 255, 0.67) 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 67px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 0;
  cursor: pointer;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .forgot_password_header {
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 79px;
  }

  .forgot_password label {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .forgot_password input {
    width: 550px;
    height: 88px;
    font-size: 28px;
    line-height: 39px;
    padding-left: 35px;
  }

  .forgot_password input[type="submit"] {
    width: 222px;
    height: 68px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 67px;
    padding: 22px 0;
  }
}

@media screen and (max-width: 992px) {
  .forgot_password_header {
    font-size: 50px;
    line-height: 78px;
    margin-bottom: 79px;
  }

  .forgot_password label {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .forgot_password input {
    width: 550px;
    height: 88px;
    font-size: 26px;
    line-height: 39px;
    padding-left: 35px;
  }

  .forgot_password input[type="submit"] {
    width: 222px;
    height: 68px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 67px;
    padding: 22px 0;
  }
}

@media screen and (max-width: 768px) {
  .forgot_password_header {
    font-size: 48px;
    line-height: 78px;
    margin-bottom: 79px;
  }

  .forgot_password label {
    font-size: 27px;
    line-height: 39px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .forgot_password input {
    width: 530px;
    height: 70px;
    font-size: 25px;
    line-height: 39px;
    padding-left: 35px;
  }

  .forgot_password input[type="submit"] {
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 67px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 600px) {
  .forgot_password_header {
    font-size: 37px;
    line-height: 78px;
    margin-bottom: 60px;
  }

  .forgot_password label {
    font-size: 27px;
    line-height: 25px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .forgot_password input {
    width: 440px;
    height: 70px;
    font-size: 23px;
    line-height: 39px;
    padding-left: 35px;
  }

  .forgot_password input[type="submit"] {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .forgot_password {
    height: 85vh;
  }

  .forgot_password_header {
    font-size: 30px;
    line-height: 78px;
    margin-bottom: 50px;
  }

  .forgot_password label {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 7px;
    margin-left: 35px;
  }

  .forgot_password input {
    width: 340px;
    height: 50px;
    font-size: 20px;
    line-height: 39px;
    padding-left: 35px;
  }

  .forgot_password input[type="submit"] {
    width: 180px;
    height: 40px;
    font-size: 15px;
    line-height: 24px;
    margin-top: 50px;
    padding: 8px 0;
  }
}