@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu */

header {
  background-color: #373540;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  padding: 50px 40px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 90px;
}

.link_to_the_main_page {
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 25px;
  line-height: 397.62%;
  letter-spacing: 0.005em;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.language_selection,
.user_authentication {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.language_selection img {
  margin: 0 5px;
}

.language_selection span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 0%;
  letter-spacing: 0.395em;
  margin: 0 5px;
}

.language_selection img:not(:nth-child(3)),
.language_selection span {
  cursor: pointer;
}

.user_authentication a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
}

.avatar_background a {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.hamburger_menu {
  display: none;
}

/* Green line */

.green_line {
  height: 30px;
  background-color: #75f08f;
}

/* Input field for URL */

.url_submit_container {
  background-color: #63686e;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.url_submit_container input {
  width: 849px;
  height: 100px;
  border-radius: 47px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 25px;
  padding-left: 40px;
  box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
}

.url_submit_container input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 25px;
  line-height: 0%;
  letter-spacing: 0.395em;
  color: rgba(0, 0, 0, 0.5);
}

.url_submit_container button {
  background-color: #7e96a6;
  border-radius: 47px;
  width: 200px;
  height: 100px;
  border: none;
  position: absolute;
  right: 250px;
  box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25);
}

.url_submit_container button img {
  width: 80px;
}

/* Drop zone */

.drop_zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 95%;
  border-radius: 56px;
  border: 2px dashed black;
  padding: 70px;
}

.border img {
  width: 130px;
}

.border p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0%;
  text-align: center;
  letter-spacing: 0.395em;
  color: #888888;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

#image-display {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

#image-display figure {
  width: 45%;
}

#image-display img {
  width: 100%;
}

#image-display figcaption {
  font-size: 18px;
  text-align: center;
  color: #63686e;
}

.active {
  border: 2px dashed #75f08f;
}

/* Error message */

.error {
  background: #ff4a4a;
  width: 550px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 84px;
  margin: 0 auto;
}

.error_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 0%;
  letter-spacing: 0.395em;
  color: #ffffff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.error p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}

.ok_button {
  background: #75f08f;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  text-align: center;
  color: #323232;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.support_button {
  background: #333333;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Section About Us */

.about_url_shortener {
  background: #75f08f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 40px;
  height: 100%;
  border-radius: 84px;
}

.about_us {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}

.about_us_header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.395em;
  color: #000000;
  padding-top: 30px;
}

.text,
.image_url_shortener {
  width: 589px;
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
  padding: 35px;
}

.text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 397.62%;
  letter-spacing: 0.005em;
  color: #000000;
}

/* Reviews */

.reviews {
  background-color: #a5b5c0;
  padding: 70px;
  border-radius: 51px;
  margin: 0 40px 40px;
}

.reviews_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 0%;
  display: flex;
  text-align: center;
  letter-spacing: 0.395em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.container .comment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 28px;
}

.user span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0%;
  letter-spacing: 0.395em;
  color: #000000;
}

.user_comment {
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  position: relative;
  padding: 30px;
  width: 750px;
  /* height: 168px; */
  height: auto;
}

.comment:nth-child(odd) .user_comment::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  border-left: 2px solid #01fa38;
  width: 0;
}

.comment:nth-child(even) .user_comment::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  border-left: 2px solid #0057ff;
  width: 0;
}

.user_comment img:first-child {
  position: absolute;
  top: 25px;
  left: -15px;
}

.user_comment img:last-child {
  position: absolute;
  bottom: 15px;
  right: -21px;
}

.user_comment p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.down_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 70px;
}

.comment.hidden {
  display: none;
}

/* Footer */

footer {
  background: #0c0c0e;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
}

footer>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo img {
  cursor: pointer;
  width: 90px;
}

.footer_logo a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 397.62%;
  letter-spacing: 0.005em;
}

footer button {
  width: 237px;
  height: 53px;
  background: linear-gradient(180deg,
      #e2e2e2 0%,
      rgba(134, 134, 134, 0.51) 100%);
  border-radius: 33px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 0%;
  letter-spacing: 0.395em;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}

.background_question_mark a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #636363;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Input field for URL */

  .url_submit_container button {
    right: 80px;
  }

  /* Error message */

  .error {
    width: 550px;
    height: 470px;
    gap: 30px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 25px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 18px;
    line-height: 39px;
  }

  .ok_button {
    font-size: 20px;
    line-height: 39px;
    width: 100px;
    height: 40px;
  }

  .support_button {
    font-size: 20px;
    line-height: 24px;
    width: 200px;
    height: 40px;
  }

  /* Section About Us */

  .about_us {
    padding: 25px;
  }

  .text,
  .image_url_shortener {
    width: 500px;
    height: 350px;
  }

  .text p {
    font-size: 15px;
    line-height: 220%;
  }

  .image_url_shortener img {
    margin-left: 30px;
    min-width: 100%;
    min-height: 100%;
  }

  /* Reviews */

  .reviews_header {
    font-size: 28px;
  }

  .container>div {
    justify-content: space-between;
  }

  .comment {
    gap: 20px;
  }

  .user span {
    font-size: 18px;
  }

  .user_comment {
    width: 650px;
    height: auto;
  }

  .user img {
    width: 100%;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 50px 40px;
  }

  .footer_logo img {
    width: 90px;
  }

  .footer_logo a {
    font-size: 25px;
  }

  footer button {
    width: 237px;
    height: 53px;
    font-size: 13px;
    margin-right: 10px;
  }

  .background_question_mark a {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  /* Input field for URL */

  .url_submit_container button {
    right: 60px;
  }

  /* Error message */

  .error {
    width: 550px;
    height: 430px;
    gap: 25px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 25px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 18px;
    line-height: 39px;
  }

  .ok_button {
    font-size: 18px;
    line-height: 39px;
    width: 100px;
    height: 40px;
  }

  .support_button {
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    height: 40px;
  }

  /* Section About Us */

  .about_us_header {
    font-size: 30px;
  }

  .about_us {
    flex-direction: column;
    gap: 40px;
  }

  .text {
    width: 589px;
    height: 350px;
  }

  .text p {
    font-size: 16px;
    line-height: 240%;
  }

  .image_url_shortener {
    width: 580px;
    overflow: hidden;
    border-radius: 51px;
    height: 350px;
  }

  /* Reviews */

  .container .comment {
    justify-content: space-between;
  }

  .reviews_header {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .user span {
    font-size: 18px;
  }

  .user_comment {
    padding: 20px;
    width: 600px;
    height: auto;
  }

  .user img {
    width: 100%;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 50px 40px;
  }

  .footer_logo img {
    width: 90px;
  }

  .footer_logo a {
    font-size: 25px;
  }

  footer button {
    width: 237px;
    height: 53px;
    font-size: 13px;
    margin-right: 10px;
  }

  .background_question_mark a {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {
  /* Menu */

  header {
    white-space: nowrap;
  }

  /* Input field for URL */

  .url_submit_container input {
    width: 700px;
    height: 80px;
    font-size: 22px;
  }

  .url_submit_container input::placeholder {
    font-size: 22px;
  }

  .url_submit_container button {
    width: 150px;
    height: 80px;
    right: 30px;
  }

  .url_submit_container button img {
    height: 40px;
  }

  /* Drop zone */

  .border img {
    width: 120px;
  }

  #image-display {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  /* Error message */

  .error {
    width: 500px;
    height: 430px;
    gap: 25px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 23px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 18px;
    line-height: 35px;
  }

  .ok_button {
    font-size: 18px;
    line-height: 39px;
    width: 100px;
    height: 40px;
  }

  .support_button {
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    height: 40px;
  }

  /* Section About Us */

  .about_us {
    flex-direction: column;
    gap: 40px;
  }

  .text {
    width: 589px;
    height: 350px;
  }

  .text p {
    font-size: 16px;
    line-height: 240%;
  }

  .image_url_shortener {
    width: 580px;
    overflow: hidden;
    border-radius: 51px;
    height: 350px;
  }

  /* Reviews */

  .reviews_header {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .container .comment {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .comment .user {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .user span {
    font-size: 18px;
  }

  .user_comment {
    width: 550px;
    height: auto;
  }

  .user img {
    width: 20%;
  }

  .user_comment img:first-child {
    position: absolute;
    top: 25px;
    left: -22px;
    width: 35px;
  }

  .user_comment img:last-child {
    position: absolute;
    bottom: 15px;
    right: -20px;
    width: 35px;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 30px;
    margin-bottom: 0 !important;
  }

  .footer_logo img {
    width: 90px;
  }

  .footer_logo a {
    font-size: 25px;
  }

  footer button {
    width: 220px;
    height: 47px;
    font-size: 13px;
    margin-right: 10px;
  }

  .background_question_mark a {
    width: 55px;
    height: 55px;
    margin-right: 10px;
  }

  .background_question_mark img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 768px) {
  /* Menu */

  header {
    white-space: nowrap;
  }

  .hamburger_menu {
    display: flex;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    background-color: #373540;
    z-index: 100;
  }

  nav.open {
    display: flex;
  }

  .hamburger_menu {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .hamburger_menu span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }

  .hamburger_menu span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .hamburger_menu span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .hamburger_menu span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .hamburger_menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  .hamburger_menu.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger_menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  .hamburger_menu {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .hamburger_menu span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
  }

  .hamburger_menu span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .hamburger_menu span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .hamburger_menu span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .hamburger_menu.cross span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  .hamburger_menu.cross span:nth-child(2) {
    opacity: 0;
  }

  .hamburger_menu.cross span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  .logo img {
    width: 80px;
  }

  .logo a {
    font-size: 20px;
  }

  .language_selection span {
    font-size: 12px;
  }

  .user_authentication {
    margin-left: 93px;
    margin-top: 5px;
  }

  .user_authentication a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    white-space: nowrap;
  }

  .avatar_background {
    margin-left: -30px;
  }

  .avatar_background a {
    width: 35px;
    height: 35px;
  }

  .avatar_background img {
    width: 80%;
  }

  /* Input field for URL */

  .url_submit_container {
    height: 250px;
    padding: 10px;
  }

  .url_submit_container input {
    width: 550px;
    height: 70px;
    font-size: 18px;
    padding-left: 30px;
  }

  .url_submit_container input::placeholder {
    font-size: 18px;
  }

  .url_submit_container button {
    width: 130px;
    height: 70px;
    right: 40px;
  }

  .url_submit_container button img {
    width: 35px;
  }

  /* Drop zone */

  .border img {
    width: 100px;
  }

  #image-display {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .border p {
    font-size: 18px;
    line-height: 0%;
    letter-spacing: 0.395em;
    margin-top: 20px;
  }

  /* Error message */

  .error {
    width: 450px;
    height: 400px;
    gap: 24px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 20px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 16px;
    line-height: 33px;
  }

  .ok_button {
    font-size: 16px;
    line-height: 39px;
    width: 100px;
    height: 40px;
  }

  .support_button {
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    height: 40px;
  }

  /* Section About Us */

  .about_us_header {
    font-size: 25px;
  }

  .text {
    width: 520;
    height: auto;
  }

  .text p {
    font-size: 16px;
    line-height: 200%;
  }

  /* Reviews */

  .reviews_header {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .container .comment {
    flex-direction: column;
    align-items: center;
  }

  .comment .user {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .user span {
    font-size: 18px;
  }

  .user_comment {
    width: auto;
    height: auto;
  }

  .user img {
    width: 25%;
  }

  .user_comment img:first-child {
    position: absolute;
    top: 25px;
    left: -22px;
    width: 35px;
  }

  .user_comment img:last-child {
    position: absolute;
    bottom: 15px;
    right: -20px;
    width: 35px;
  }

  .user_comment p {
    font-size: 13px;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 20px;
  }

  .footer_logo img {
    width: 80px;
  }

  .footer_logo a {
    font-size: 20px;
  }

  footer button {
    width: 200px;
    height: 43px;
    font-size: 12px;
    margin-right: 10px;
  }

  .background_question_mark a {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .background_question_mark img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  /* Menu */

  header {
    white-space: nowrap;
  }

  .logo img {
    width: 70px;
  }

  .logo a {
    font-size: 18px;
  }

  /* Input field for URL */

  .url_submit_container {
    height: 250px;
    padding: 10px;
  }

  .url_submit_container input {
    width: 450px;
    height: 70px;
    font-size: 18px;
    padding-left: 30px;
  }

  .url_submit_container input::placeholder {
    font-size: 18px;
  }

  .url_submit_container button {
    width: 110px;
    height: 70px;
    right: 10px;
  }

  .url_submit_container button img {
    width: 35px;
  }

  /* Drop zone */

  .border img {
    width: 100px;
  }

  #image-display {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .border p {
    font-size: 16px;
    line-height: 0%;
    letter-spacing: 0;
    margin-top: 20px;
  }

  /* Error message */

  .error {
    width: 400px;
    height: 370px;
    gap: 24px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 18px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 14px;
    line-height: 30px;
  }

  .ok_button {
    font-size: 14px;
    line-height: 39px;
    width: 80px;
    height: 40px;
  }

  .support_button {
    font-size: 14px;
    line-height: 24px;
    width: 180px;
    height: 40px;
  }

  /* Section About Us */

  .about_us_header {
    font-size: 25px;
  }

  .text {
    width: 390px;
    height: auto;
  }

  .text p {
    font-size: 16px;
    line-height: 200%;
  }

  .image_url_shortener {
    width: 415px;
  }

  .image_url_shortener img {
    max-width: 100%;
    height: auto;
  }

  /* Reviews */

  .reviews_header {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .container .comment {
    flex-direction: column;
    align-items: center;
  }

  .comment .user {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .user span {
    font-size: 18px;
  }

  .user_comment {
    width: 340px;
    height: auto;
  }

  .user img {
    width: 35%;
  }

  .user_comment img:first-child {
    position: absolute;
    top: 25px;
    left: -22px;
    width: 35px;
  }

  .user_comment img:last-child {
    position: absolute;
    bottom: 15px;
    right: -20px;
    width: 35px;
  }

  .user_comment p {
    font-size: 13px;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 20px;
  }

  .footer_logo img {
    width: 70px;
  }

  .footer_logo a {
    font-size: 18px;
  }

  footer button {
    width: 170px;
    height: 34px;
    font-size: 12px;
    margin-right: 10px;
    letter-spacing: 0.1em;
  }

  .background_question_mark a {
    width: 47px;
    height: 47px;
    margin-right: 10px;
  }

  .background_question_mark img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 480px) {
  /* Menu */

  header {
    padding: 10px;
  }

  .logo img {
    width: 70px;
  }

  .logo a {
    font-size: 18px;
  }

  /* Input field for URL */

  .url_submit_container {
    height: 250px;
    padding: 30px;
  }

  .url_submit_container input {
    width: 360px;
    height: 50px;
    font-size: 12px;
    padding-left: 30px;
  }

  .url_submit_container input::placeholder {
    font-size: 12px;
  }

  .url_submit_container button {
    width: 80px;
    height: 50px;
    right: 10px;
  }

  .url_submit_container button img {
    width: 30px;
  }

  /* Drop zone */

  .border img {
    width: 75px;
  }

  #image-display {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .border p {
    font-size: 14px;
    line-height: 0%;
    letter-spacing: 0;
    margin-top: 20px;
  }

  /* Error message */

  .error {
    width: 320px;
    height: 340px;
    gap: 22px;
    margin: 0 auto;
  }

  .error_header {
    font-size: 17px;
    line-height: 0%;
    letter-spacing: 0.395em;
  }

  .error p {
    font-size: 13px;
    line-height: 25px;
  }

  .ok_button {
    font-size: 13px;
    line-height: 39px;
    width: 60px;
    height: 40px;
  }

  .support_button {
    font-size: 14px;
    line-height: 24px;
    width: 160px;
    height: 40px;
  }

  /* Section About Us */

  .about_us_header {
    font-size: 20px;
  }

  .about_us {
    gap: 0;
  }

  .text {
    width: 290px;
    height: auto;
  }

  .text p {
    font-size: 14px;
    line-height: 180%;
  }

  .image_url_shortener {
    width: 310px;
  }

  .image_url_shortener img {
    max-width: 100%;
    height: auto;
  }

  /* Reviews */

  .reviews_header {
    font-size: 22px;
  }

  .container .comment {
    flex-direction: column;
    align-items: center;
  }

  .comment .user {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .user span {
    font-size: 16px;
  }

  .user_comment {
    width: 250px;
    height: auto;
  }

  .user img {
    width: 50%;
  }

  .user_comment img:first-child {
    position: absolute;
    top: 25px;
    left: -22px;
    width: 35px;
  }

  .user_comment img:last-child {
    position: absolute;
    bottom: 15px;
    right: -20px;
    width: 35px;
  }

  .user_comment p {
    font-size: 13px;
  }

  /* Footer */

  footer {
    max-height: 80px;
    padding: 10px;
  }

  .footer_logo img {
    width: 70px;
  }

  .footer_logo a {
    font-size: 18px;
  }

  footer button {
    width: 130px;
    height: 30px;
    font-size: 12px;
    margin-right: 10px;
    letter-spacing: 0em;
    line-height: 0%;
  }

  .background_question_mark a {
    width: 41px;
    height: 41px;
    margin-right: 10px;
  }

  .background_question_mark img {
    width: 30px;
    height: 30px;
  }
}